<div class="images">
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\1.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\2.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\3.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\4.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\5.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\6.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\7.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\8.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\9.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\spell\10.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\1.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\2.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\3.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\4.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\5.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\6.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\7.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\8.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\9.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\mage\talent\10.jpg">
  </div>
</div>
