.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: black;
}
.image-div {
  width: 35%;
  min-width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  margin: 20px;
  text-align: center;
}

.image-div img {
  border-radius: 16px;
  margin-bottom: -4px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
