<div class="images">
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\1.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\2.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\3.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\4.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\5.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\6.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\7.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\8.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\9.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\spell\10.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\1.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\2.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\3.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\4.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\5.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\6.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\7.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\8.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\9.jpg">
  </div>
  <div class="image-div">
    <img src="assets\images\temp\priest\talent\10.jpg">
  </div>
</div>
